/*Home Tab*/

* {
    box-sizing: border-box;
}
body {
    background-color: #f0edf2

}
@font-face {
    font-family: "big-noodle";
    src: url("../img/big_noodle_titling.ttf") format("truetype");
}
.main-nav {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 8%;
    left: 0;
    right: 0;
    background-color: rgba(40,53,79,.9);
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 1001;

}
.stick {
transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
position:fixed;
z-index:999;
margin: 0;
}
.overwatch-logo {
    margin-top: .5vh;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-menu {
    display: flex;
    height: 100%;
    float: left;
}
.nav-section {
    width: auto;
    height: 100%;
    padding-left: 1.125vw;
    padding-right: 1.125vw;
    cursor: pointer;
    border-left: 1px solid hsla(0,0%,100%,.03);
    color: hsla(0,0%,100%,.85);
    font-weight: bold;
    font-family: Futura,century gothic,arial,sans-serif;
    /*letter-spacing: .05em;*/
    text-transform: uppercase;
    align-items: center;
    display: flex;
    float: left;
    opacity: 1;
    font-size: .7vw;
}
.nav-section:hover {
    background-color: hsla(0,0%,100%,.07);
    color: hsla(0,0%,100%,1);
}
.purchase:hover {
    background-color: #f8b035
}
.purchase {
    background-color: #f89e35;
    padding-right: 40px;
    padding-left: 40px;
}
.one-section {

}
.action-bar {
    display: flex;
    width: 85%;
    height: 6vh;
    margin-left: 8vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;

}
.play-trailer {
    width: 37%;
    height: 100%;
    background-color: #f89e35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.play-trailer:hover {
    background-color: #f8b035
}
.trailer-video {
    background-image: url("../img/gameplayTrailer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-icon {
    background-image: url('../img/playbutton.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 66%;
    width: 38%;
}
.trailer-text {
    font-size: 2.5vw;
    color: hsla(0,0%,100%,.85);
    margin-right: 15px;
    font-family: 'Lalezar', cursive;
}
.buy-now-action-bar {
    width: 37%;
    height: 100%;
    background-color: #f89e35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.buy-now-action-bar:hover {
    background-color: #f8b035
}
.buy-game-text {
    font-family: 'Lalezar', cursive;
    color: hsla(0,0%,100%,.85);
    font-size: 2.5vw;
    margin-left: 15px;
}
.game-image {
    background-image: url("../img/pcGame.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 375%;
    width: 23%;
    overflow:visible;
    z-index: 100000000;
}

.search-player {

}
.main-image {
    width: 100%;
    height: auto;
}
.h2 {
    font-size: 2vw;
    text-align: center;
    color: #405275;
    font-family: 'Lalezar';
}
.featuredNews {
    display: block;
    margin-top: 25px;

}
.newsContainer {
    max-width: 1250px;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*.season2Wrapper {
    width: 50%;
}*/
.season2 {
    background-image: url("../img/season2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: inherit;
    height: 70%;
    width: 40%;
    display: flex;
    align-items: flex-end;
}
.captionBar1 {
    width: 100%;
    height: 15%;
    background-color: black;
    opacity: .7;
    bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 1vw
    padding-left: 15px;
    padding-right: 15px;
}
.captionBar2 {
    width: 100%;
    height: 30%;
    background-color: black;
    opacity: .7;
    bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 1vw
    padding-left: 15px;
    padding-right: 15px;
}

.animatedShort {
    background-image: url("../img/bastion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: inherit;
    height: 70%;
    width: 25%;
    display: flex;
    align-items: flex-end;
}
.patchNotes {
    background-size: cover;
    background-image: url("../img/patchNotes.jpg");
    background-repeat: no-repeat;
    height: 70%;
    width: 25%;
    display: flex;
    align-items: flex-end;
}
.newsWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.allNews {
    border: 3px solid;
    border-color: #00a5e2;
    font-size: 2.8vw;
    width: 30vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
}
.icon {
    height: 24px;
    fill: #f0edf2;
    stroke: #f0edf2;
    stroke-width: 0;
}
.viewAllNews {
    color: #00a5e2;
    width: 100%;
    height: 100%;
    font-family: 'Lalezar';
    display: flex;
    align-self: center;
    justify-content: center;

}
.viewAllNews:hover {
    color: white;
    background-color: #00a5e2;
}
.exploreGame {
    background-image: url("../img/cairo.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-right: 50px;
    padding-left: 50px;

}
.fightHeader {
    text-align: center;
    font: italic normal normal 5vw big-noodle, impact, sans-serif;
    width: 100%;

        text-shadow: 0 4px 5px rgba(60,72,96,.5);
        color: #f0edf2;
}
.introText {
    color: white;
    text-align: center;
    font: normal normal normal 1.8vw 'Lalezar',century gothic,arial,sans-serif;
}
.explore-button{
    font-size: 3.2rem;
    font-family: 'lalezar';
    padding: 10px 40px 9px;
    color: #fff;
    background-color: #ff9c00;
    margin-left: auto;
    margin-right: auto;
}
.heroes-section {
    background-image: url("../img/candy3.jpg");
    background-position: top;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    height: 115vh;
}
.heroes-section-max-width {
    width: 100%;
    height: 100%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.heroes-section-text-container {
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    height: 28.5%;
}
.column {
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.intro-heading {
    background: -webkit-linear-gradient(top,#3f6493 10%,#345177);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 4px 5px rgba(60,72,96,.5);
    margin-bottom: 44px;
    /*font-style: italic;*/
    font: italic normal normal 4.5rem big-noodle ,impact,sans-serif
}
.intro-text {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3.6rem;
    color: #405275;
    font: normal normal normal 1.5rem 'lalezar' ,century gothic,arial,sans-serif
}
.hero-selector-container {
    width: 100%;
    height: 71.5%;
    display: flex;
    flex-direction: row;
}
.hero-icon-container {
    width: 50%;
    height: 100%;
    margin-top: 5%;
    /*float: left;*/
}
.hero-small-icon {
    float: left;
    margin-right: 10px;
    height: 90px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;

}
.picturas {
    height: 75px;
    /*-webkit-transform: skew(-.25rad);
    -ms-transform: skew(-.25rad);
    transform: skew(-.25rad);*/
    background-color: rgba(51,51,51,.9);
    border-radius: 7px;
}

.picturas:hover {
    background-color: #f7931e;
}
.hero-popup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hero-popup-name {
    font-family: big-noodle;
    font: italic normal normal 10px big-noodle ,impact,sans-serif;
    font-size: 4rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: #f0edf2;
}

.hero-full-icon {
    height: 95%;
    width: 100%;
    border: 0;
    outline: none;
}

.scroll-wallpaper {
    /*height: 30vh;*/
    width: 100%;
    background-image: url("../img/dorado.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 24rem;
    background-position: center 16%;
}
.purchase-section {
    text-align: center;
    position: relative;
    border-top: 1px solid hsla(0,0%,100%,.4);
    background-image: url("../img/museum.jpg");
    background-position: top;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 72px;
    height: 80vh;
    width: 100%;
}
.widow-full-portrait {
    background-image: url('../img/widow-portrait.png');
    background-size: 100% auto;
    height: 118%;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.purchase-max-width {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.right-block {
    margin-left: 50%;
    width: 41.66667%;

}
.buy-now-intro-text {
    margin-top: -1em;
    color: #405275;
    font: normal normal normal 1.5rem 'lalezar' ,century gothic,arial,sans-serif;
    margin-bottom: 3.6rem;
    line-height: 1.47;
}
.buy-now-button {
    width: 40%;
    height: 60px;
    background-color: #ff9c00;
    border: 3px solid #ff9c00;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.buy-now-button:hover {
    background-color: #f8b035;
    border-color: #f8b035;
}
.buy-now-text {
    font-size: 2.5vw;
    font-family: 'lalezar';
    color: #fff;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-left: 3px;
}
.overwatch-games {
    margin-top: 1.2rem;
    position: relative;
}
.overwatch-game {
    vertical-align: top;
    width: 23%;
    max-width: 180px;
    margin-top: 1.5rem;
    border: 0;
}
.overwatch-game-pc {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 33%;
    max-width: 251px;
    margin: 0 1rem -2rem;
}
.footer {
    width: 100%;
    height: 43vh;
    background-image: url('../img/buy-bar.jpg');
    background-repeat: no-repeat;
    border-top: .35rem solid hsla(0,0%,45%,.7);
}
.footer-buy {
    height: 60%;
    width: 100%;
    padding: 72px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-buy-button {
    width: 10%;
    height: 70%;
    background-color: #ff9c00;
    border: 3px solid #ff9c00;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-buy-text {
    font-size: 2.5vw;
    font-family: 'lalezar';
    color: #fff;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-left: 3px;
}
.footer-buy-button:hover {
    background-color: #f8b035;

}
.footer-rule {
    margin: 0;
    max-width: none;
    border-bottom: 2px solid #cacaca;
    opacity: .1;
}
.stay-connected-bar {
    padding: 10px 30px 10px 30px;
    width: 100%;
    height: 40%;
}
.social-media-container {
    margin-top: 5px;
    width: 100%;
    height: 60%;
}
.social-media-image {
    background-image: url('../img/social-media.png');
    background-repeat: no-repeat;
    width: auto%;
    height: 100%;
    margin-left: 36vw;
}

/**//*Heroes Tab*//**/
/**//*Heroes Tab*//**/


.candy2-img {
    background: url("../img/candy2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 180vh;
}
.main-container {
    width: 100%;
    height: 100%;
    padding-top: 96px;
}
.max-width-container {
    padding-top: 72px;
    padding-bottom: 72px;
    height: 100%;
    width: 88%;
    max-width: 1250px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    /*margin-left: 85px;
    margin-right: 85px;*/

}
.need-a-hero-container {
    margin-right: 440px;
}
.need-a-hero {
    font: italic normal normal 80px big-noodle, impact, sans-serif;
    font-weight: 100;
    color: #405275
}
.need-a-hero-intro-text {
    font: 1.50vw 'lalezar';
    color: #405275
}
.heroes-index {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}
.navigation-selector {
    width: auto;
    border-spacing: 1px;
    margin-bottom: 50px;
}
.navigation-list {
    display: flex;
    flex-direction: row;
}
.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 162px;
    width: 162px;
    border-radius: 2px;
    background-color: hsla(0,0%,100%,.3);
    line-height: 1.6;
    height: 45px;
    margin-left: 2px;
    cursor: pointer;
}
.navigation-item:hover {
    background-color: #fff;

}
.icon {
    fill: #1a325e;
    margin-right: 9px;
    margin-bottom: 3px;
    height: 18px;
}
.nav-item-text {
    font-family: 'lalezar';
    color: rgba(40,53,79,.9);
}
.active {
    background-color: #fff;
}
.hero-bar {
    height: 1153.56px;
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
}
.hero-container {
    float: left;
    margin: 4px;
    height: 250px;
    position: relative;
    cursor: pointer;
}

.bottom-container {
    position: absolute;
    background: rgba(40,53,79,.9);
    height: 3.6rem;
    width: 100%;
    bottom: 0;
}
.icon-plate {
    fill: #fff;
    height: 16px;
    margin-top: .4rem;
    margin-left: .4rem;
}
.plate-hero-name {
    display: flex;
    justify-content: center;
}
.pics{
    background-image: url("../img/hero-portrait.jpg");
    background-size: cover;
    height: 100%;
    width: auto;
    border: 1px solid #fff;
}

/*////////////////////////////////////
///          Single Hero          ///
///////////////////////////////////*/
.hero-video-wrapper {
    /*display: flex;
    flex-direction: column;*/

}
.abilities {
    /*height: 100vh;*/
    /*width: 100%;*/
}
.ability-showcase {
    position: relative;
    /*padding-bottom: 46vw;*/
    /*overflow: hidden;*/
}
.ability-showcase-video {
    width: 100%;
}
.ability-showcase-controls {
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 0;
    margin-bottom: 6.5rem;
    text-align: center;
}
.max-width-controls {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}
.hero-name {
    color: #f0edf2;
    background: -webkit-linear-gradient(#f0edf2 50%,rgba(240,237,242,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font: italic normal normal 10px big-noodle ,impact,sans-serif;
    font-size: 8rem;
    letter-spacing: .05rem;
    margin-bottom: 2rem;
}
.hero-description {
    margin-top: 1.5em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #00c3ff;
    font: italic normal normal 10px big-noodle ,impact,sans-serif;
    font-size: 4rem;
    letter-spacing: .05rem;
}
.ability-button-list {
    margin-top: 1.8rem;
    padding: 0;
    margin: 0;
}
.ability-showcase-button {
    position: relative;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    display: inline-block;
    margin: 0 .8rem;
}
.button-bg-svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    fill: rgba(64,82,117,.4);
    stroke: rgba(240,237,242,.4);
    stroke-width: 2;
}
.progress-svg {
    stroke-dashoffset: 314px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    fill: none;
    stroke: #00c3ff;
    stroke-width: 4.5;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

}
.hero-ability-icon {
    max-width: 90%;
    max-height: 65%;
    height: auto;
    width: auto;
    opacity: .7;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
.hero-detail::before {
    height: 2rem;
    background-image: url("../img/wing.png");
    bottom: 100%;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    background-size: auto 100%;
    background-position: top;
    background-repeat: no-repeat;
    z-index: 998;
}
.hero-detail {
    position: relative;
}
.video-background-vid {
    opacity: 0.7;
    width: 100%;
}
.hero-video-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid #e7daf3;
}
.hero-detail-tabs {
    padding-top: 72px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}
.tabs {
    width: 750px;
    height: 150%;
    padding-right: 100px;
    padding-left: 50px;
    margin-left: 5vw;

}
.details-tabs {
    display: table;
    width: calc(100% + 10px);
    margin: -5px;
    border-spacing: 5px;
    white-space: nowrap;
}
.tabs-title {
    display: table-cell;
    background-color: rgba(19,42,77,.6);
    width: 49.5%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'lalezar';
    padding: 12px;
    color: #b4bac8;
    cursor: pointer;
}
.tabs-title2 {
    display: table-cell;
    background-color: hsla(0,0%,100%,.6);
    width: 49.5%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'lalezar';
    padding: 12px;
    color: #3e383a;
    cursor: pointer;
}
.tabs-content {
    color: #fff;
    background-color: rgba(19,42,77,.6);
    height: 100%;
    width: 100%;

}
.overview {
    display: block;
    height: 100%;
    width: 100%
}
.hero-detail-wrapper {
    padding: 15px;
    display: block;
    height: 25%;
    width: 100%;
}
.hero-detail-row {
    height: 50%;
    width: 100%;
    display:flex;
}
.column-detail-role {
    width: 50%;
    height: 100%;
    display: block;

}
.h3-hero-desc {
    margin-left: 6px;
    color: #00c3ff;
    font: italic normal normal 10px big-noodle ,impact,sans-serif;
    font-size: 2.5rem;
}
.h4-hero-desc {
    font: italic normal normal 10px big-noodle ,impact,sans-serif;
    color: #f0edf2;
    font-size: 3.5rem;
    margin-top: 0;
    vertical-align: text-top;
}
.column-difficulty {
    width: 50%;
    height: 100%;
    display: block;
}
.hero-detail-diff {
    float: right;
    min-width: 30%;
    margin: 0;
}
.star {
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../img/star.png");
    background-repeat: no-repeat;
}
.hero-detail-description {
    max-width: 90%;
    border-left: 6px solid #00c3ff;
    margin-top: 18px;
    margin-left: 6px;
    padding-left: 18px;
    color: #fff;
    font: normal normal normal 18px Arial,sans-serif;
}
.tab-separator {
    max-width: none;
    border-bottom: 3px solid hsla(0,0%,100%,.15);
    margin: 0;
}
.hero-detail-wrapper2 {
    padding: 15px;
    height: 100%;
    width: 100%;
}
.hero-detail-abilities {
    margin-top: 18px;
}
.hero-ability {
    margin-top: 2px;
    padding: 0;
    background-color: rgba(19,42,77,.2);
    position: relative;
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    height: 15%;
}
.hero-ability-icon-container {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(19,42,77,.1);
    vertical-align: middle;
    height: 100%;
}
.hero-ability-icon-bg {
    width: 74px;
    height: 74px;
    position: relative;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background color: rgba(64,82,117,.4);
    border: 2px solid rgba(240,237,242,.4);
}
.hero-ability-icon2 {
    height: 74px;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
    max-height: 65%;
    max-width: 150%;
}
.hero-ability-description-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
.hero-ability-title {
    flex: 3;
    margin-top: 10px;
    font-size: 35px;
    font-family: big-noodle;
}
.hero-ability-description {
    flex: 7;
    margin-top: 10px;
    padding-bottom: 10px;
    font: normal normal normal 18px Arial,sans-serif;
}
.blank-space {
    background-color: #e7daf3;
    height: 80vh;
    width: 100%;
}
